<div id="wrapper_blog">
	<div id="content_standard">
		<div id="sidebar">
			<h3><u>Archives</u></h3>
			<% @months.each do |month| %>
				<li><%= link_to "#{Date::MONTHNAMES[month[0]]} #{month[1]}", blog_show_month_path(month: month[0], year: month[1]), id: "archive_link" %></li>
			<% end %>
		</div>
		<div id="content_holder">
			<% @posts.each do |post| %>
				<h3><%= post.title %></h3>
				<h4><%= post.created_at.to_date %></h4>
				<p class="spacing4"><%= raw post.description%></p>
				<p class="spacing4"><%= link_to "More->", blog_single_post_path(id: post.id) %></p>
				<% if post.description != @posts.last.description %>
					<div class="divider"></div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>