<!DOCTYPE html>
<html>
<head>
	<title>Lydrew</title>
	<%= favicon_link_tag 'W3.png' %>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
	<%= render 'layouts/header' %>
</head>
<body>

<%= yield %>
<%= render 'layouts/footer' %>

</body>
</html>
